#spin {
    color:red;
  }
  #spin:after {
    content:"done";
    animation: spin 5s linear;
  }
  @keyframes spin {
    0% { content:"ipsum" }
    10% { content:"dolor" }
    20% { content:"sit" }
    30% { content:"amet" }
    40% { content:"consectetur" }
    50% { content: "adipisicing" }
    60% { content: "elit" }
    70% { content: "Hic" }
    80% { content: "atque" }
    90% { content: "fuga" }
  }